/* 
--active-color:#2196f3;
--title-color:#212121;
--primary-color:#757575;
--lite-color:#ffffff;
--footer-contacts-color:rgba(255, 255, 255, 0.6);
--footer-hero-bkg-color:#2F303A;
--portofolio-btn-bkg-color: #f5f4fa;
--dark-color:#000000;


font-family: 'Raleway',   sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* tag configuration */
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  cursor: pointer;
}
:root {
  --active-color: #2196f3;
  --title-color: #212121;
  --primary-color: #757575;
  --lite-color: #ffffff;
  --dark-color: #000000;
  --hero-bkg-color: #c4c4c4;
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --litegrey-bkg-color: #f5f4fa;
  --header-border-color: #ececec;
  /* work section */
  --text-bkg-color: rgba(47, 48, 58, 0.8);
  /* card section */
  --grey-card-link-color: #afb1b8;
  --card-border-radius: 0px 0px 4px 4px;
  --teams-social-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-portofolio-border-color: #eeeeee;
  /* footer section */
  --footer-social-bkg-color: rgba(255, 255, 255, 0.1);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-bkg-color: #2f303a;
  /* portofolio section */
  --card-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  /* modal section */
  --overlay-color: rgba(0, 0, 0, 0.2);
  --button-border-color: rgba(0, 0, 0, 0.1);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --textarea-placeholder-color: rgba(117, 117, 117, 0.5);
  /* footer form */
  --footer-border-color: rgba(255, 255, 255, 0.3);
  --footer-input-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.715;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.not-top-padding {
  padding-top: 0;
}
/* header section */
.header {
  border-bottom: 1px solid var(--header-border-color);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo section */
.logo {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.193;
  color: var(--active-color);
}
.site-nav__logo-secondary {
  color: var(--dark-color);
}

/* site-nav section */
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav__list {
  display: flex;
  margin-left: 93px;
}
.site-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link--active {
  color: var(--active-color);
}
.site-nav__link--active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}
/* header contacts */
.contacts {
  display: flex;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.site-nav__link:hover,
.site-nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--active-color);
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__icon--mail {
  width: 16px;
  height: 12px;
}
.contacts__icon--phone {
  width: 10px;
  height: 16px;
}
/* main section */
/* title style */
.clients__title,
.teams-card__title,
.our-works__title {
  text-align: center;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: var(--title-color);
}
/* hero section */
.hero {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--hero-bkg-color);
  background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)),
    url('../images/teams.jpg');
  background-size: contain;
}

.hero__title {
  width: 698px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--lite-color);
}
/* hero button */
.hero__button {
  min-width: 200px;
  padding: 10px 0;
  border-radius: 4px;
  border-color: transparent;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--lite-color);
  background-color: var(--active-color);
}

/* soft skills section */
.soft-skills__list {
  display: flex;
  margin-left: -30px;
}
.soft-skills__item {
  flex-basis: calc((100% - 90px) / 4);
  margin-left: 30px;
}
.soft-slills__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--litegrey-bkg-color);
}
.soft-skills__icon {
  width: 70px;
  height: 70px;
}
.soft-skills__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--title-color);
}

/* work section */
.our-works__list {
  display: flex;
  margin-left: -30px;
}
.our-works__item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}
.our-works__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--lite-color);
  background-color: var(--text-bkg-color);
}
/* teams section */
.teams-card__list {
  display: inline-flex;
  margin-left: -30px;
}
.teams-card__item {
  background-color: var(--lite-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);
  flex-basis: calc((100%-120px) / 4);
  margin-left: 30px;
}
.teams-card__content {
  text-align: center;
  padding: 30px 0;
}
.teams-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  color: var(--title-color);
}
.teams-card__proffesion {
  margin-bottom: 16px;
}
.teams-card__proffesion {
  font-size: 16px;
  line-height: 1.188;
}

/* social link */
.card-social__list {
  display: flex;
  justify-content: center;
}

.card-social__item:not(:last-child) {
  margin-right: 10px;
}

.card-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-social__link:hover,
.card-social__link:focus {
  background-color: var(--active-color);
  color: #ffffff;
}

.card-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.card-social__link--teams {
  background-color: var(--lite-color);
  color: var(--grey-card-link-color);
}

/* clients section */
.clients__list {
  display: flex;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--grey-card-link-color);
  color: var(--grey-card-link-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--active-color);
  border-color: var(--active-color);
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
/* footer section */
.footer {
  padding: 60px 0;
  background-color: var(--footer-bkg-color);
}
.footer-list {
  display: flex;
  align-items: baseline;
}
/* footer left section*/
.footer-logo {
  padding: 0;
  margin-bottom: 20px;
  display: block;
}
.footer-contacts__address {
  margin-bottom: 9px;
}
.footer__logo-secondary {
  color: var(--lite-color);
}
/* footer contacts */
.footer-contacts {
  font-style: normal;
  color: var(--lite-color);
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts__link {
  color: var(--footer-contacts-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--active-color);
}
/* footer right section */
.footer-right-part {
  margin-left: 70px;
}
.footer-right-part_text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lite-color);
}
.card-social__link--footer {
  background-color: var(--footer-social-bkg-color);
  color: var(--lite-color);
}
/* portofolio section */
.portofolio-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portofolio-filters__item:not(:last-child) {
  margin-right: 8px;
}

/* footer-subscription */
.footer-subscription {
  margin-left: 93px;
}
.footer-subscription__form {
  position: relative;
  width: 570px;
}
.footer-subscription__text {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lite-color);
}

.footer-subscription__input {
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-input-color);
  background-color: var(--footer-bkg-color);
  border: 1px solid var(--footer-border-color);
  border-radius: 4px;
}
.footer-subscription__input:focus {
  outline: none;
  border-color: var(--active-color);
}
.footer-subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--footer-input-color);
}

.footer-subscription__button {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 200px;
  padding: 10px 28px;

  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--lite-color);
  background-color: var(--active-color);
  border-color: transparent;
  border-radius: 4px;
}
.footer-subscription__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
/* portofolio button */
.portofolio-filters__button {
  min-width: 73px;
  padding: 6px 22px;
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--litegrey-bkg-color);
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portofolio-filters__button:hover,
.portofolio-filters__button:focus {
  box-shadow: var(--button-shadow);
  color: var(--lite-color);
  background-color: var(--active-color);
}
/* card section */
.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.card-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-right: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-list__item:hover,
.card-list__item:hover .card-list__overlay {
  box-shadow: var(--card-box-shadow);
  transform: translateY(0);
}
.card-list__thumb {
  position: relative;
  overflow: hidden;
}

.card-list__overlay {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.556;
  color: var(--lite-color);
  background-color: var(--active-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.card-list__content {
  padding: 20px 24px;
  text-align: start;
  background-color: var(--lite-color);
  border-bottom: 1px solid var(--card-portofolio-border-color);
  border-left: 1px solid var(--card-portofolio-border-color);
  border-right: 1px solid var(--card-portofolio-border-color);
}
.card-list__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.card-list__text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-color);
}

/* modal windows section */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--lite-color);
}
.backdrop__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lite-color);
  border-radius: 50%;
  border: 1px solid var(--button-border-color);
  color: var(--dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button:hover {
  color: var(--active-color);
}

.backdrop__icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}
/* backdrop-form section */
.backdrop-form {
  padding: 40px;
}
.backdrop-form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-bottom: 10px;
  color: var(--title-color);
}
.backdrop-form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.backdrop-form__subtitle {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-color);
}
.backdrop-form__input {
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}
.backdrop-form__label:focus-within .backdrop-form__textarea,
.backdrop-form__label:focus-within .backdrop-form__icon,
.backdrop-form__label:focus-within .backdrop-form__input {
  outline: none;
  border-color: var(--active-color);
  fill: var(--active-color);
}
.backdrop-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.backdrop-form__textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}
.backdrop-form__textarea::placeholder {
  color: var(--textarea-placeholder-color);
}
.backdrop-form__label--textarea {
  margin-bottom: 20px;
}
/* backdrop form checkbox */
.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.checkbox-label__link {
  text-decoration: underline;
  color: var(--active-color);
}
/* form submit button */
.backdrop-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 55px;
  display: flex;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  border-color: transparent;
  border-radius: 4px;
  background-color: var(--active-color);
  color: var(--lite-color);
}
