.visually-hidden {
  @extend %visually-hidden;
}
.soft-skills__list {
  display: flex;
  margin-left: -30px;
}
.soft-skills__item {
  flex-basis: calc((100% - 90px) / 4);
  margin-left: 30px;
}
.soft-slills__thumb {
  @include flexCenterCenter;
  width: 270px;
  height: 120px;
  background-color: var($litegreyBkgColor);
}
.soft-skills__icon {
  width: 70px;
  height: 70px;
}
.soft-skills__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var($titleColor);
}
